<%= stylesheet_link_tag "api/v1/customers/index", :media => "all" %>
<p id="notice"><%= notice %></p>

<h1 class="word" >Customers</h1>
<% @customers.each do |c| %>
<p><%= c.name%></p>

<% end %>
<table>
  <thead>
    <tr>
      <th>Office</th>
      <th>Category</th>
      <th>Name</th>
      <th>Age</th>
      <th>Birthday</th>
      <th>Kaigodo</th>
      <th>Medical history</th>
      <th>Discription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>
