<%= stylesheet_link_tag "devise_token_auth/sessions/layout", :media => "all" %>
<h1>ログイン</h1>
<h1>事業所情報を登録してください。</h1>
  <form>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password(minimum: 8)">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <%= link_to "/api/v1/auth/sign_up" do %>
    <button type="submit" class="btn btn-primary">新規登録はこちら</button>
    <% end %>
  </form>
